*.o
data/
dphcar
dph
outputs/
outputs-new/
outputs-items/
test
nph
binnings/
shelves/
csvs/
shelves_random/
shelves_random_3/
shelves_random_7/
graphs/
dph-graph
dph-opt
dph-orig
mm
output_new/
output_new_old/
csv_new/
new_results.csv
parse_new_output.py
